<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		

		<target name="exceptions" xsi:type="File" fileName="C:\Users\sbih\source\MovieRent\Logi\exceptions.txt" />
		<target name="time" xsi:type="File" fileName="C:\Users\sbih\source\MovieRent\Logi\time.txt" />
				
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	
		<logger name="Movie.*" minlevel="Error" writeTo="exceptions" />
		
		<logger name="Movie.Middleware.RunTimeMiddlewar" minlevel="Trace" writeTo="time" />
	</rules>
</nlog>